#itunesPlayer {
	max-width: 300px;
	margin: 0 auto;
}

ul.orbit-slides-container {
	li {
		img {
			margin-bottom: 0;
		}
	}
}

.orbit-container .orbit-slides-container > * .orbit-caption {
	background-color: rgba($primary-color, 0.7);
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
}

/*
ul.videos {
	//height: 60px;
	width: 100%;
	display: block;
	li {
		display: inline;
		img {width: 120px;}
		
	}
	
}
*/

.videos {
	a {
		display:block;
		margin-right: 4px;
		float: left;
		color: #000;
		img {
			margin-bottom: 0;
		}
	}
}

	.button-box {
		margin-top: 5px;
		a.button.yellow {
			color: #000;
			font-weight: bold;
		}
	}