article.tickets .entry-content {
	$yellow: #b84802;
	$orange: #efc031;
	
	// LAYOUT
	
	
	.sales-boxes .columns {
		padding-left: 0;
		padding-right: 0;
		
		@media #{$medium} {
			padding-left: 3px;
			padding-right: 3px;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}
	}

	.nicebox {
		border: 2px solid #000;
		padding: 5px;
		position: relative;
		margin-bottom: 10px;
		@media #{$medium} {
			min-height: 240px;
		}
	}
	

	
	.orangegrad {
		//border: 2px solid $orange;
		margin-bottom:5px;
		//background: url(../img/orangegrad-bg.png) left bottom repeat-x ;
	}
	
	
	// TYPOGRAPHY
	
	a {
		color: #000;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	
	hr {
		border: solid #000;
		border-width: 2px 0 0;
		clear: both;
		margin: 0 0 0.6em;
		height: 0;
	}
	
	text-align: center;
	h1, h2, h3 {
		font-weight: 600;
		span {
			font-weight: 400;
		}
	}
	
	h1.entry-title {
		text-align: center;
		font-size: 26px;
		margin-bottom: 0;
	}
	
	h2 {
		font-size: 20px;
		line-height: 1.2em;
	}
	
	h3 {
		
		font-size: 16px;
		line-height: 1.2em;
	}
	
	// BUTTONS
	
	.black-button, .yellow-button {
		border: none;
		font-size: 16px;
		max-width: 320px;
		clear: both;
		display: block;
		margin: 0 auto 5px;
		@media #{$medium} {
			max-width: none;
		}
	}
	
	/*
.black-button, .yellow-button {
		background: url(../img/black-button.png);
		background-size: 100% 100%;
		color: $yellow;
	}
*/
	
	.black-button, .yellow-button {
		background: url(../img/yellow-button.png);
		background-size: 100% 100%;
		color: #000;
		text-decoration: none;
	}
	
	.black-button:hover {
			position: relative;
			top:2px;
		}
	
	
	
	.nicebox a.yellow-button {
		@media #{$medium} {
			position: absolute;
			bottom: 10px;
			width: 95%;
			max-width: none;
			left: 2.5%;
			&:hover {
				position: absolute;
				bottom: 8px;
			}
		}
	}
	
	.sponsors a {
		text-decoration: none;
	}
}

// Groups Form

form#gform_5, form#gform_4 {
	@media #{$medium} {
			.half {
				input {
					width: 95%;
				}
				.custom.dropdown.large {
					width:95%;
				}
			}
		}
	.custom.dropdown {
		border: none;
		background: url(../img/form-field-background.png) no-repeat;
		background-size: 100% 100%;
	}
	input#gform_submit_button_4, input#gform_submit_button_5 {
		background: url(../img/yellow-button.png);
		background-size: 100% 100%;
		color: #000;
		text-decoration: none;
		border: none;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		display: block;
	}
}